@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@500;600&display=swap");

*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    margin: 0;
    font-family: 'Baloo Tammudu 2', cursive;
    background-image: linear-gradient(0deg,rgb(136 220 255) 23.8%,rgb(255 255 255) 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.music-container{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 20px 20px 0 rgba(251,190,205, 0.6);
    display: flex;
    padding: 20px 30px;
    position: relative;
    margin: 100px 0;
    z-index: 10;
}

.img-container{
    width: 110px;
    position: relative;
}

.img-container::after{
    content: '';
    background-color: white;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.img-container img{
    width:inherit;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    bottom: 0;
    left: 0;

    animation: rotate 3s linear infinite;
    animation-play-state: paused;
}

.music-container.play .img-container img{
    animation-play-state: running;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.action-btn{
    border: 0;
    background-color: #ffffff;
    color: #dfdbdf;
    font-size: 20px;
    cursor: pointer;
    padding:10px;
    margin: 0 20px;
}

.action-btn-big{
    color: #cdc2d0;
    font-size: 30px;
}

.action-btn-big:focus{
    outline: 0;
}

.music-info{
    background-color: rgba(255,255,255,0.5);
    border-radius: 15px 15px 0 0;
    position: absolute;
    padding: 10px 10px 10px 150px;
    top: 0;
    left: 20px;
    width: calc(100% - 40px);
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.music-info h4{
    margin: 0;
}

.music-container.play .music-info{
    opacity: 1;
    transform: translateY(-100%);
}

.progress-container{
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
    height: 4px;
    width: 100%;
}

.progress{
    background-color: #fe8daa;
    border-radius: 5px;
    height: 100%;
    width:0%;
    transition: width 0.1s linear;
}